Repository wasmCloud/wasmCloud, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wasmCloud/org-maintainers, @wasmCloud/ci-maintainers, @wasmCloud/host-maintainers, @wasmCloud/control-interface-maintainers, @wasmCloud/observability-maintainers, @wasmCloud/capability-provider-sdk-maintainers, @wasmCloud/wascap-maintainers, @wasmCloud/capability-provider-maintainers, @wasmCloud/wash-maintainers, @wasmCloud/examples-maintainers, @wasmCloud/go-maintainers

ci: add action for cached-install of wash
  .github/actions/install-cached-wash-cli/action.yml
  .github/actions/wasm-lang-toolchain-setup/action.yml
  .github/workflows/examples-components.yml
  .github/workflows/examples-providers.yml
Owners: @wasmCloud/ci-maintainers

ci: add action for cached-install of wash
  .github/actions/install-cached-wash-cli/action.yml
  .github/actions/wasm-lang-toolchain-setup/action.yml
  .github/workflows/examples-components.yml
  .github/workflows/examples-providers.yml
Owners: @wasmCloud/ci-maintainers

Propagate trace from incoming HTTP and to outgoing HTTP
  Cargo.lock
  Cargo.toml
  crates/provider-http-server/Cargo.toml
  crates/provider-http-server/src/lib.rs
  crates/tracing/src/context.rs
Owners: @wasmCloud/host-maintainers, @wasmCloud/capability-provider-maintainers, @wasmCloud/observability-maintainers

fix build
  Cargo.lock
  Cargo.toml
  crates/provider-http-server/Cargo.toml
  crates/provider-http-server/src/lib.rs
  crates/tracing/Cargo.toml
  crates/tracing/src/http.rs
  crates/tracing/src/lib.rs
Owners: @wasmCloud/host-maintainers, @wasmCloud/capability-provider-maintainers, @wasmCloud/observability-maintainers

define mod trace when enable feature otel
  crates/tracing/src/lib.rs
Owners: @wasmCloud/observability-maintainers

fix fmt
  crates/tracing/src/context.rs
Owners: @wasmCloud/observability-maintainers

support http outgoing injector
  crates/provider-http-client/src/lib.rs
  crates/tracing/src/http.rs
Owners: @wasmCloud/capability-provider-maintainers, @wasmCloud/observability-maintainers

fix not valid context
  crates/tracing/src/context.rs
Owners: @wasmCloud/observability-maintainers

test(links): sync with old
  tests/links.rs
Owners: @wasmCloud/host-maintainers

test(wasmcloud): removed stale commit for real
  tests/links.rs
Owners: @wasmCloud/host-maintainers

test(wasmcloud): removed stale commit for real
  tests/links.rs
Owners: @wasmCloud/host-maintainers

test(wasmcloud): test linking to different interface targets
  crates/host/src/wasmbus/mod.rs
  tests/links.rs
Owners: @wasmCloud/host-maintainers

test(links): sync with old
  tests/links.rs
Owners: @wasmCloud/host-maintainers

test(links): update link validation test for interface-specific rules
  tests/links.rs
Owners: @wasmCloud/host-maintainers

fix(link-validation): allow unique interfaces across the same package
  crates/host/src/wasmbus/mod.rs
Owners: @wasmCloud/host-maintainers

ci(wasmcloud): require cargo when providers change
  .github/workflows/wasmcloud.yml
Owners: @wasmCloud/ci-maintainers

chore(http-client): address clippy warning
  crates/provider-http-client/src/lib.rs
Owners: @wasmCloud/capability-provider-maintainers

ci(wasmcloud): require cargo when providers change
  .github/workflows/wasmcloud.yml
Owners: @wasmCloud/ci-maintainers

chore(http-client): address clippy warning
  crates/provider-http-client/src/lib.rs
Owners: @wasmCloud/capability-provider-maintainers

fix: Proper exposure of path.rs
  crates/wash-cli/src/cmd/config/mod.rs
  crates/wash-cli/src/cmd/mod.rs
Owners: @wasmCloud/wash-maintainers

fix: Proper logic of Paths resolution
  crates/wash-cli/src/cmd/config/path.rs
Owners: @wasmCloud/wash-maintainers

fix: publically exposed the config-path
  crates/wash-lib/src/cli/mod.rs
Owners: @wasmCloud/wash-maintainers

chore(wash-cli): remove unused import comment
  crates/wash-cli/src/cmd/wit/deps.rs
Owners: @wasmCloud/wash-maintainers

fix: Changed the impl acc to discussion
  crates/wash-cli/src/cmd/dev/mod.rs
  crates/wash-cli/src/cmd/wit/build.rs
  crates/wash-cli/src/cmd/wit/deps.rs
  crates/wash-lib/src/parser/mod.rs
Owners: @wasmCloud/wash-maintainers

fix: Cleanupgit add crates/wash-cli/src/cmd/dev/mod.rs crates/wash-cli/src/cmd/mod.rs crates/wash-cli/src/cmd/wit/build.rs crates/wash-cli/src/cmd/wit/deps.rs crates/wash-lib/src/parser/mod.rs
  crates/wash-cli/src/cmd/dev/mod.rs
  crates/wash-cli/src/cmd/mod.rs
  crates/wash-cli/src/cmd/wit/build.rs
  crates/wash-cli/src/cmd/wit/deps.rs
  crates/wash-lib/src/parser/mod.rs
Owners: @wasmCloud/wash-maintainers

fix: replaced all std::env::current_dir() references in wash-cli
  crates/wash-cli/src/cmd/dev/mod.rs
  crates/wash-cli/src/cmd/wit/build.rs
  crates/wash-cli/src/cmd/wit/deps.rs
Owners: @wasmCloud/wash-maintainers

fix: Cleanupgit add crates/wash-cli/src/cmd/config/mod.rs
  crates/wash-cli/src/cmd/config/mod.rs
Owners: @wasmCloud/wash-maintainers

ci(wasmcloud): ignore wash files for wasmcloud
  .github/workflows/wasmcloud.yml
Owners: @wasmCloud/ci-maintainers

ci(wasmcloud): run cargo checks for workspace changes
  .github/workflows/wasmcloud.yml
Owners: @wasmCloud/ci-maintainers

fix(host): specify type for ambiguous as_ref
  crates/host/src/wasmbus/handler.rs
Owners: @wasmCloud/host-maintainers

chore(ROADMAP): document roadmap process
  ROADMAP.md
Owners: @wasmCloud/org-maintainers

chore(ROADMAP): document roadmap process
  ROADMAP.md
Owners: @wasmCloud/org-maintainers

fix(ci): handle non pr actions
  .github/actions/install-cached-wash-cli/action.yml
Owners: none

fix(host): specify type for ambiguous as_ref
  crates/host/src/wasmbus/handler.rs
Owners: @wasmCloud/host-maintainers

fix(wash)!: use extended interface overrides everywhere
  crates/wash-cli/src/cmd/wit/build.rs
  crates/wash-cli/src/cmd/wit/deps.rs
  crates/wash-cli/src/cmd/wit/publish.rs
  crates/wash-lib/src/build/mod.rs
  crates/wash-lib/src/cli/mod.rs
  crates/wash-lib/src/deps.rs
  crates/wash-lib/src/lib.rs
Owners: @wasmCloud/wash-maintainers

chore(gitignore): include wash-lib/src/build
  .gitignore
Owners: @wasmCloud/org-maintainers

fix: Added ca-certificates to runtime image to solve issues with invalid peer certificates, unknown issuers.
  crates/secrets-nats-kv/Dockerfile
Owners: @wasmCloud/host-maintainers

update linting
  .github/templates/conventional-commit.md
  .github/workflows/comment-cc.yml
  .github/workflows/lint-cc.yml
  OUT
  tmp.md
Owners: @wasmCloud/org-maintainers, @wasmCloud/ci-maintainers

fix(host): nbf/exp in cloudevents
  crates/host/src/wasmbus/event.rs
Owners: @wasmCloud/host-maintainers

fix(host): output host_id on provider_start_failed
  crates/host/src/wasmbus/event.rs
  crates/host/src/wasmbus/mod.rs
Owners: @wasmCloud/host-maintainers

.github/CODEOWNERS:

# CODEOWNERS

## Organization/repository management, top level documentation

.github/CODEOWNERS @wasmCloud/org-maintainers
.gitignore @wasmCloud/org-maintainers
LICENSE @wasmCloud/org-maintainers
*.md @wasmCloud/org-maintainers

## CI and nix

.github/actions/build-nix @wasmCloud/ci-maintainers
.github/actions/install-nix @wasmCloud/ci-maintainers
.github/workflows/*.yml @wasmCloud/ci-maintainers
flake.* @wasmCloud/ci-maintainers
garnix.yaml @wasmCloud/ci-maintainers
nix @wasmCloud/ci-maintainers

## host-related code

crates/component @wasmCloud/host-maintainers
crates/host @wasmCloud/host-maintainers
crates/host-sys @wasmCloud/host-maintainers
crates/runtime @wasmCloud/host-maintainers
crates/secrets-client @wasmCloud/host-maintainers
crates/secrets-nats-kv @wasmCloud/host-maintainers
crates/secrets-types @wasmCloud/host-maintainers
src/main.rs @wasmCloud/host-maintainers
tests/* @wasmCloud/host-maintainers
wit @wasmCloud/host-maintainers
Cargo.* @wasmCloud/host-maintainers
.cargo @wasmCloud/host-maintainers

## shared crates

crates/control-interface @wasmCloud/control-interface-maintainers
crates/core @wasmCloud/org-maintainers
crates/opentelemetry-nats @wasmCloud/observability-maintainers
crates/provider-sdk @wasmCloud/capability-provider-sdk-maintainers
crates/tracing @wasmCloud/observability-maintainers
crates/wascap @wasmCloud/wascap-maintainers

## projects

crates/provider-* @wasmCloud/capability-provider-maintainers
crates/wash-cli @wasmCloud/wash-maintainers
crates/wash-lib @wasmCloud/wash-maintainers
examples @wasmCloud/examples-maintainers

## Language specific folders

### Golang
examples/golang @wasmCloud/go-maintainers

### TypeScript
# TODO(lachieh): remove once new release of wash (> 0.38.0) is released
# Everything typescript related has moved to the wasmcloud/typescript repo. The
# only thing left in this folder is the http-hello-world example which is a
# dependency of `wash` version 0.37.0 and lower.
typescript @wasmCloud/wash-maintainers
