Repository wasmCloud/wasmCloud, changes with the owners that .github/CODEOWNERS names for each.
All owners: @wasmCloud/org-maintainers, @wasmCloud/ci-maintainers, @wasmCloud/host-maintainers, @wasmCloud/control-interface-maintainers, @wasmCloud/observability-maintainers, @wasmCloud/capability-provider-maintainers, @wasmCloud/capability-provider-sdk-maintainers, @wasmCloud/capability-provider-wit-bindgen-maintainers, @wasmCloud/wascap-maintainers, @wasmCloud/wash-maintainers, @wasmCloud/examples-maintainers, @wasmCloud/washboard-maintainers

ci: do not push `latest`
  .github/workflows/provider.yml
Owners: @wasmCloud/ci-maintainers

refactor(provider-sdk): move wasmbus RPC topic generation to core
  crates/core/src/rpc.rs
  crates/provider-sdk/src/provider.rs
Owners: @wasmCloud/org-maintainers, @wasmCloud/capability-provider-sdk-maintainers

ci: do not push `latest`
  .github/workflows/provider.yml
Owners: @wasmCloud/ci-maintainers

ci: setup `provider-wit-bindgen` crate family release pipeline
  .github/workflows/wasmcloud.yml
Owners: @wasmCloud/ci-maintainers

feat(host): add label_changed event for label update/delete
  crates/host/src/wasmbus/event.rs
  crates/host/src/wasmbus/mod.rs
Owners: @wasmCloud/host-maintainers

refactor(provider-sdk): move wasmbus RPC topic generation to core
  crates/core/src/rpc.rs
  crates/provider-sdk/src/provider.rs
Owners: @wasmCloud/org-maintainers, @wasmCloud/capability-provider-sdk-maintainers

feat: use native TLS roots along webpki
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/lib.rs
  crates/core/src/tls.rs
  crates/host/Cargo.toml
  crates/host/src/oci.rs
  crates/provider-blobstore-s3/Cargo.toml
  crates/provider-blobstore-s3/src/lib.rs
  crates/provider-http-client/Cargo.toml
  crates/provider-http-client/src/lib.rs
  crates/provider-http-server/Cargo.toml
  crates/provider-http-server/src/lib.rs
  crates/provider-sdk/Cargo.toml
  crates/wash-cli/src/ui/mod.rs
  crates/wash-lib/Cargo.toml
  crates/wash-lib/src/app.rs
  crates/wash-lib/src/registry.rs
  crates/wash-lib/src/start/github.rs
  crates/wash-lib/src/start/wasmcloud.rs
  tests/interfaces.rs
Owners: @wasmCloud/host-maintainers, @wasmCloud/org-maintainers, @wasmCloud/capability-provider-sdk-maintainers, @wasmCloud/wash-maintainers

feat: use native TLS roots along webpki
  Cargo.lock
  Cargo.toml
  crates/core/Cargo.toml
  crates/core/src/lib.rs
  crates/core/src/tls.rs
  crates/host/Cargo.toml
  crates/host/src/oci.rs
  crates/provider-blobstore-s3/Cargo.toml
  crates/provider-blobstore-s3/src/lib.rs
  crates/provider-http-client/Cargo.toml
  crates/provider-http-client/src/lib.rs
  crates/provider-http-server/Cargo.toml
  crates/provider-http-server/src/lib.rs
  crates/provider-sdk/Cargo.toml
  crates/wash-cli/src/ui/mod.rs
  crates/wash-lib/Cargo.toml
  crates/wash-lib/src/app.rs
  crates/wash-lib/src/registry.rs
  crates/wash-lib/src/start/github.rs
  crates/wash-lib/src/start/wasmcloud.rs
  tests/interfaces.rs
Owners: @wasmCloud/host-maintainers, @wasmCloud/org-maintainers, @wasmCloud/capability-provider-sdk-maintainers, @wasmCloud/wash-maintainers

chore(runtime): reenable `clippy::pedantic`
  crates/runtime/src/actor/component/mod.rs
  crates/runtime/src/capability/provider/mem/keyvalue.rs
  crates/runtime/src/io.rs
  crates/runtime/src/lib.rs
Owners: @wasmCloud/host-maintainers

refactor: pr feedback
  crates/provider-lattice-controller/README.md
  crates/wash-cli/src/common/start_cmd.rs
  crates/wash-cli/tests/common/mod.rs
  crates/wash-cli/tests/wash_start.rs
  crates/wash-cli/tests/wash_stop.rs
  crates/wash-lib/src/cli/start.rs
Owners: @wasmCloud/org-maintainers, @wasmCloud/wash-maintainers

feat: support multiple label key-value pairs
  crates/wash-lib/src/cli/label.rs
Owners: @wasmCloud/wash-maintainers

feat: introduce provider interface sdk
  Cargo.lock
  Cargo.toml
  crates/core/src/wrpc.rs
  crates/provider-blobstore-fs/Cargo.toml
  crates/provider-blobstore-fs/src/lib.rs
  crates/provider-blobstore-s3/Cargo.toml
  crates/provider-blobstore-s3/src/lib.rs
  crates/provider-http-client/Cargo.toml
  crates/provider-http-client/src/lib.rs
  crates/provider-keyvalue-redis/Cargo.toml
  crates/provider-keyvalue-redis/src/lib.rs
  crates/provider-keyvalue-vault/Cargo.toml
  crates/provider-keyvalue-vault/src/lib.rs
  crates/provider-sdk/Cargo.toml
  crates/provider-sdk/src/interfaces/blobstore.rs
  crates/provider-sdk/src/interfaces/http.rs
  crates/provider-sdk/src/interfaces/keyvalue.rs
  crates/provider-sdk/src/interfaces/mod.rs
  crates/provider-sdk/src/lib.rs
  src/bin/blobstore-fs/main.rs
  src/bin/blobstore-s3/main.rs
  src/bin/http-client/main.rs
  src/bin/keyvalue-redis/main.rs
  src/bin/keyvalue-vault/main.rs
Owners: @wasmCloud/host-maintainers, @wasmCloud/org-maintainers, @wasmCloud/capability-provider-sdk-maintainers

feat(provider-sdk): introduce interface provider running utilities
  Cargo.lock
  crates/provider-sdk/src/interfaces/blobstore.rs
  crates/provider-sdk/src/interfaces/http.rs
  crates/provider-sdk/src/interfaces/keyvalue.rs
  crates/provider-sdk/src/interfaces/mod.rs
  src/bin/blobstore-fs/main.rs
  src/bin/blobstore-s3/main.rs
  src/bin/http-client/main.rs
  src/bin/http-server/main.rs
  src/bin/keyvalue-redis/main.rs
  src/bin/keyvalue-vault/main.rs
Owners: @wasmCloud/host-maintainers, @wasmCloud/capability-provider-sdk-maintainers, @wasmCloud/org-maintainers

feat(provider-sdk): introduce interface provider running utilities
  Cargo.lock
  crates/provider-sdk/src/interfaces/blobstore.rs
  crates/provider-sdk/src/interfaces/http.rs
  crates/provider-sdk/src/interfaces/keyvalue.rs
  crates/provider-sdk/src/interfaces/mod.rs
  src/bin/blobstore-fs/main.rs
  src/bin/blobstore-s3/main.rs
  src/bin/http-client/main.rs
  src/bin/http-server/main.rs
  src/bin/keyvalue-redis/main.rs
  src/bin/keyvalue-vault/main.rs
Owners: @wasmCloud/host-maintainers, @wasmCloud/capability-provider-sdk-maintainers, @wasmCloud/org-maintainers

feat: introduce provider interface sdk
  Cargo.lock
  Cargo.toml
  crates/core/src/wrpc.rs
  crates/provider-blobstore-fs/Cargo.toml
  crates/provider-blobstore-fs/src/lib.rs
  crates/provider-blobstore-s3/Cargo.toml
  crates/provider-blobstore-s3/src/lib.rs
  crates/provider-http-client/Cargo.toml
  crates/provider-http-client/src/lib.rs
  crates/provider-keyvalue-redis/Cargo.toml
  crates/provider-keyvalue-redis/src/lib.rs
  crates/provider-keyvalue-vault/Cargo.toml
  crates/provider-keyvalue-vault/src/lib.rs
  crates/provider-sdk/Cargo.toml
  crates/provider-sdk/src/interfaces/blobstore.rs
  crates/provider-sdk/src/interfaces/http.rs
  crates/provider-sdk/src/interfaces/keyvalue.rs
  crates/provider-sdk/src/interfaces/mod.rs
  crates/provider-sdk/src/lib.rs
  src/bin/blobstore-fs/main.rs
  src/bin/blobstore-s3/main.rs
  src/bin/http-client/main.rs
  src/bin/keyvalue-redis/main.rs
  src/bin/keyvalue-vault/main.rs
Owners: @wasmCloud/host-maintainers, @wasmCloud/org-maintainers, @wasmCloud/capability-provider-sdk-maintainers

feat(host): add label_changed event for label update/delete
  crates/host/src/wasmbus/event.rs
  crates/host/src/wasmbus/mod.rs
Owners: @wasmCloud/host-maintainers

.github/CODEOWNERS:

# Default to org maintainers
* @wasmCloud/org-maintainers

# .github CI
.github @wasmCloud/ci-maintainers
.github/CODEOWNERS @wasmCloud/org-maintainers

# nix
.github/actions/build-nix @wasmCloud/ci-maintainers
.github/actions/install-nix @wasmCloud/ci-maintainers
.github/workflows/nix.yml @wasmCloud/ci-maintainers
flake.* @wasmCloud/ci-maintainers
garnix.yaml @wasmCloud/ci-maintainers

# host-related code
crates/actor @wasmCloud/host-maintainers
crates/compat @wasmCloud/host-maintainers
crates/host @wasmCloud/host-maintainers
crates/host-sys @wasmCloud/host-maintainers
crates/runtime @wasmCloud/host-maintainers
src/main.rs @wasmCloud/host-maintainers
tests/actors @wasmCloud/host-maintainers
tests/providers @wasmCloud/host-maintainers
tests/local.rs @wasmCloud/host-maintainers
tests/wasmbus.rs @wasmCloud/host-maintainers
wit @wasmCloud/host-maintainers
Cargo.* @wasmCloud/host-maintainers
.cargo @wasmCloud/host-maintainers

# shared crates
crates/control-interface @wasmCloud/control-interface-maintainers
crates/core @wasmCloud/org-maintainers
crates/opentelemetry-nats @wasmCloud/observability-maintainers
crates/provider-archive @wasmCloud/capability-provider-maintainers
crates/provider-sdk @wasmCloud/capability-provider-sdk-maintainers
crates/provider-wit-bindgen @wasmCloud/capability-provider-wit-bindgen-maintainers
crates/provider-wit-bindgen-macro @wasmCloud/capability-provider-wit-bindgen-maintainers
crates/tracing @wasmCloud/observability-maintainers
crates/wascap @wasmCloud/wascap-maintainers

# projects
crates/providers @wasmCloud/capability-provider-maintainers
crates/wash-cli @wasmCloud/wash-maintainers
crates/wash-lib @wasmCloud/wash-maintainers
examples @wasmCloud/examples-maintainers
vendor/capability-providers @wasmCloud/capability-provider-maintainers
washboard-ui @wasmCloud/washboard-maintainers
